$white: #fefefe
$header--fontSize: 180px
$search--form-fontSize: 40px

body
  background-color: #111
  background-size: cover
  background-repeat: no-repeat

.white-bg
  background-color: #efefef

=vmiddle
  &:before
    content: ''
    display: inline-block
    height: 10%
    vertical-align: middle

.vertical--container
  text-align: center
  +vmiddle()

.align-right
  text-align: right

.container--white
  margin-top: 30px
  background: #fff
  padding: 30px
  border-radius: 20px

.page--container
  .header--title
    font-size: 72px

.page--title
  text-align: center
  font-size: 5em

.page--videos
  text-align: right

.header--container
  text-align: center
  width: 50%
  height: 300px
  display: inline-block

.header--title
  text-shadow: 3px 3px 1px #000
  font-family: 'Allura', cursive
  font-size: $header--fontSize
  color: $white
  display: inline-block
  padding-top: 75px

.header--container-sm
  margin-top: 10px
  .search--form
    vertical-align: middle
    input
      display: inline-block
      height: 50px
      font-size: 2em
.header--small
  font-family: 'Allura', cursive
  font-size: 72px
  display: inline-block
  text-shadow: 3px 3px 1px #000
  color: $white
  a
    color: $white

.search--container

.search--results
  text-align: left
  border-radius: 10px
  position: absolute
  background-color: #fff
  width: 50%
  padding: 10px
  ul
    list-style: none
    padding-left: 0
    width: 100%
    li
      width: 100%

.search--row
  display: table
  padding: 10px
  width: 100%

.search--title
  display: table-cell
  width: 60%

.search--icons
  display: table-cell
  width: 40%
  text-align: center
  div
    padding-left: 20px
    display: table-cell
    text-align: center
    width: 33.3333%


.search--selected
  background-color: #efefef
  border-radius: 10px

.search--form
  display: inline-block
  width: 50%

  input
    margin-top: 15px
    font-size: $search--form-fontSize
    height: auto
    width: 100%
    &:blur
      font-style: italic !important


.transition-left
  -webkit-animation: moveLeft 3s 0
  animation: moveLeft 3s 0
  position: absolute
  -webkit-animation-fill-mode: forwards
  animation-fill-mode: forwards


@-webkit-keyframes moveLeft
  from
    width: 50%
    left: relative
    top: relative
  to
    top: 50px
    left: 20px
    width: 200px
