{{ define "admin" }}
<html>
    <head>
        <script src="http://fb.me/react-0.12.2.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        {{stylesheet_tag "admin"}}
        {{javascript_tag "admin_main"}}
        {{javascript_tag "admin_page_form"}}
        {{javascript_tag "admin_new_page"}}
        {{javascript_tag "app_admin"}}
        {{javascript_tag "admin"}}
    </head>
    <body>
        <div data-ui="admin"></div>
        <script>
         React.render(window.admin(), document.querySelector("[data-ui='admin']"))
        </script>
    </body>
</html>
{{ end }}
