{{ define "index" }}
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
        {{javascript_tag "react"}}
        {{javascript_tag "jquery"}}
        {{stylesheet_tag "bootstrap"}}
        {{stylesheet_tag "main"}}
        {{javascript_tag "main"}}
    </head>
    <body style="background-image: url('/assets/images/{{.LandingImage}}')">
        <div class='vertical--container'>
            <div class='search--container'>
                <div class='header--container'>
                    <h1 class='header--title'>
                        CookingTips.io
                    </h1>
                </div>
                <div data-ui="search"></div>
            </div>
        </div>
        <script>
         React.render(window.search(), document.querySelector("[data-ui='search']"))
        </script>
    </body>
</html>
{{ end }}
