{{ define "index" }}
<html>
    <head>
        <script src="http://fb.me/react-0.12.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        {{stylesheet_tag "main"}}
        {{javascript_tag "main"}}
    </head>
    <body style="background-image: url('/assets/images/{{.LandingImage}}')">
        <div class='vertical--container'>
            <div class='search--container'>
                <div class='header--container'>
                    <h1 class='header--title'>
                        CookingTips.io
                    </h1>
                </div>
                <div data-ui="search"></div>
            </div>
        </div>
        <script>
         React.render(window.search(), document.querySelector("[data-ui='search']"))
        </script>
    </body>
</html>
{{ end }}
